#wanna-work {
  position: relative;
  color: #fff;
  padding-bottom: 44px;
  padding-top: 110px;
}

#wanna-work:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0; right: 0;  top: 0;
  height: 130%;
  background:
    linear-gradient(-135deg, #fc4083, #FF9A8B);
  /*background-color: #FBDA61;*/
  /*background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);*/

  transform: skewY(-4deg);
}

.icon-grad .fa:before, .icon-grad.fa:before {
  background:
  linear-gradient(to left, rgba(65, 88, 208, 1) 0%, rgba(200, 80, 192, 1) 46%, rgba(255, 204, 112, 1) 100%);
  /*linear-gradient(90deg, #FEE140 0%, #fc4083 50%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sm-wrapper {
  display: inline-block;
  line-height: 46px;
  height: 42px;
  width: 42px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  border-radius: 100%;
  transition: background .3s;
}

.sm-wrapper:hover {
  background: rgba(0, 0, 0, 0.3);
}

.medium.fa {
  font-size: 24px;
}

.large.fa {
  font-size: 48px;
}

.socials {
  margin-top: 32px;
}
