.title {
  background:
    /*linear-gradient(to left, rgba(65, 88, 208, 1) 0%, rgba(200, 80, 192, 1) 46%, rgba(255, 204, 112, 1) 0%);*/
      linear-gradient(90deg, #ff9966, #fc4083);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
