body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Arvo', 'Roboto Slab', sans-serif;
  text-align: center;
}

.block {
  padding-top: 128px;
  padding-bottom: 96px;
}

a { color: inherit; }

